	<div class="progress-bar blue stripes">
	    <span id="progress-bar-inner" class="progress-bar-inner" style="width: 0%">Loading ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</div>
		<div class="data">$<span id="data-money">(loading)</span> raised from <span id="data-donors">(loading)</span> individual donors.<BR>
		Apologies, there's a bug on this progress bar which sometimes resets it to 0 after a while. This does not affect existing donations - it's a database problem. Working on solving that problem now. In the meantime, <a href="https://dataclips.heroku.com/zyjtwohnrtoamadooruhwtjbnpip-users-and-donors">you can check the amount raised with this Heroku Dataclip</a>. It returns the amount in cents.</div>