<div class="toc">{{ toc | markdownify }}</div>
<H1>Code</H1>
<div id="p1" class="projectbox">{{ project1 | markdownify }}</div>
<div id="p2" class="projectbox">{{ project2 | markdownify }}</div>
<div id="p3" class="projectbox">{{ project3 | markdownify }}</div>
<H1>Video</H1>
<div id="v1" class="videobox">{{ video1 }}</div>
<div id="v2" class="videobox">{{ video2 }}</div>
<div id="v3" class="videobox">{{ video3 }}</div>
<div id="v4" class="videobox">{{ video4 }}</div>
<div id="v5" class="videobox">{{ video5 }}</div>
<div style="clear: both;">&nbsp;</div>